#calcMain {
  background-color: #8f8a88;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
}

#ecran {
  background-color: #ffffff;
  width: 95%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 30px;
  font-weight: bold;
}
